@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato-Regular.ttf');
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: #111111;
}
